#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex: auto;
  flex-direction: column;
}

input {
  flex: auto;
}

label {
  flex: auto;
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.columns,
.rows {
  display: flex;
  flex: auto;
}
.columns {
  flex-direction: column;
}
.gap {
  gap: 1em;
}
.pad {
  padding: 1em;
}
.paper {
  background-color: black;
}

textarea {
  width: 100%;
  height: 10em;
}

button {
  padding: 1em;
  margin: 0.5em;
  background: darkorange;
  border: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.link,
.link-active {
  color: inherit;
  text-decoration: inherit;
  border: solid 1px orange;
  padding: 1em;
  display: block;
}
.link-active {
  background: orange;
}

pair-div {
  text-align: center;
  border: solid 1px orange;
  display: block;
}

pair-div pair-front,
pair-div pair-back {
  font-family: serif;
  font-size: 3em;
  display: block;
}
